a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: red;
}

hr {
 /* height: 0.5px;
  background-color: grey;*/
  /*border: none;*/
}

.mainMenuHeader {
  /*background-color: lightblue;*/
}

.mainTitle {
  color: darkred;
  margin-bottom: 10px;
}

.linksMenu {
  /*background-color: lightgreen;*/
  /*height: 35px;*/
  margin-bottom: -2px;
}

.linksPestana {
  /*background-color: pink;*/
  display: inline-block;
  margin-right: 11px;
  font-size: 20px;
}


