.titleComp {
  text-align: center;
}

.formContainer {
  border: 1px solid black;
  width: 1000px;
  margin: auto;
}

.formHeader {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

.contFour {
  display: block;
  /*background-color: pink;*/
  text-align: right;
}

.contOne {
  /*width: 300px;*/
  /*border: 1px solid blue;*/
  padding-top: 25px;
  padding-left: 15px;
  margin-bottom: 20px;
  /*display: inline-block;*/
}

.aptInfo {
  margin-right: 5px;
  font-size: 15px;
  margin-left: 5px;
}

#aptDiv {
  width: 80px;
}

#recDiv {
  width: 100px;
}

.contTwo {
  width: 46.5%;
  border-right: 1px solid black;
  display: inline-block;
  margin: 5px 6px;
  padding: 10px;
}

.contThree {
  width: 46.5%;
  /*border: 1px solid green;*/
  display: inline-block;
  vertical-align: top;
  margin: 5px 6px;
  padding: 10px;
}

.inputBox {
  margin-left: 10px;
  font-size: 15px;
}

.receiptBttn {
  font-size: 25px;
  position: relative;
  right: 35px;
  bottom: 28px;
}

.totalBttn {
  font-size: 25px;
}

.labelDivs {
  /*background-color: lightgreen;*/
  margin: -5px auto;
}

#observaciones {
  width: 300px;
}

.totalsForm {
  /*background-color: pink;*/
  display: inline-block;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}
